.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 44px;
  margin-top: 22px;
  cursor: pointer;
}
.description {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 44px;
  margin-top: 22px;
  cursor: pointer;
}
.socialIcons {
  margin-left: 9rem;
  display: flex;
  gap: 5rem;
}
.location {
  display: flex;
  justify-content: center;
  position: relative;
  right: -30rem;
  align-content: center;
  gap: 1.5rem;
}
